{% extends "base.html" %}
{% block content %}
  <div class="hero hero--auth d-flex align-items-center" style="min-height:60vh;">
    <div class="container overlay d-flex align-items-center justify-content-center" style="min-height:60vh;">
      <div class="card auth-card w-100">
        <div class="card-body">
          <h3 class="mb-3 text-center">Register</h3>
          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.username.label(class_='form-label') }}
              {{ form.username(class_='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.password.label(class_='form-label') }}
              {{ form.password(class_='form-control') }}
            </div>
            <div class="mb-3">
              {{ form.password2.label(class_='form-label') }}
              {{ form.password2(class_='form-control') }}
            </div>
            <div class="d-grid">
              {{ form.submit(class_='btn btn-primary') }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
